<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/ku_list.css">
    <title>KU해 팀구하기</title>
</head>

<body>
    <%-include('top_bar.ejs')%>

    <header>
        <h1>여기서 팀 KU해</h1>
    </header>

    
    <div class="search-container">
        <input type="text" class="search-input" placeholder="검색어를 입력하세요">
        <button class="search-button">검색</button>
    </div>


    <div class="button-container">
        <button class="write-button">글쓰기</button>
    </div>



    <section>
        
        <% lists.forEach((item, index) => { %>
            <div class="team-card">
                <div id="reported-count">신고 수: 0</div>
                <h3><%= item.title %></h3>
                <div class="team-info2">
                    <h5>[<%= item.is_Online %>] [<%= item.subject %>]</h5>
                </div>
               
                <h5><%= item.content %></h5>
                <button class="matching">매칭하기</button>
                <button onclick="toggleHeart(this)" class="heart-icon">&#10084;</button>
                <button onclick="reportTeam(this)" class="report-button">🚨</button>

                <div class="team-buttons">
                    <button onclick="editTeam(this)" class="edit-button">수정</button>
                    <button onclick="deleteTeam(this)" class="delete-button">삭제</button>
                </div>


                <div class="team-info">
                    <h5>작성자: <%= item.author %></h5>
                    <% const createDate = new Date(item.create_date); %>
                    <% const formattedDate = `${createDate.getFullYear()}. ${createDate.getMonth() + 1}. ${createDate.getDate()}`; %>
                    <h5><%= formattedDate %></h5>
                </div>
            </div>
        <% }); %>
    </section>

    <div class="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>

    <footer>
        <p>© KU-HAE</p>
    </footer>

    <script>
        // 토글(Toggle) 함수
        function toggleHeart(button) {
            button.classList.toggle('heart-icon');
        }

        // 신고하기 버튼 클릭 시 동작할 함수
        function reportTeam(button) {
            // 여기에 신고하기 버튼을 눌렀을 때의 동작을 추가하세요.
            // 예를 들어, 모달 창 열기, 신고 양식 보이기 등의 동작을 구현할 수 있습니다.
            console.log("팀 신고하기 기능 구현");
        }
    </script>

</body>

</html>
