<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/notice_list.css">
  <title>KU해 공지사항</title>
</head>

<body>

  <%-include('top_bar.ejs')%>
  
  <header>
    <h1>KU해 공지사항</h1>
  </header>

  <% if (typeof user !== 'undefined' && user.is_superuser === 1){ %>
    <div class="button-container">
      <button class="write-button" onclick="NoticeAdd()">글쓰기</button>
    </div>
  <% } %>

  <div class="search-container">
    <input id="searchTitle" class="search-input" name="searchTitle" placeholder="제목을 입력해주세요.">
    <button class="search-button" onclick="search()">검색</button>
  </div>

  <% lists.forEach((item, index) => { %>
    <div class="notice-item" onclick="NoticeDetail('<%= item.id %>')">
      <h3><%= item.title %></h3>
      <% const createDate = new Date(item.create_date); %>
      <% const formattedDate = `${createDate.getFullYear()}. ${createDate.getMonth() + 1}. ${createDate.getDate()}`; %>
      <p class="date"><%= formattedDate %></p>
      <p class="author">작성자: <%= item.author %></p>
    </div>
  <% }); %>


  <div class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="#" onclick="changePage(<%= i %>)"><%= i %></a>
    <% } %>
  </div>

  <footer>
    <p>© KU-HAE</p>
  </footer>

  <script>
    // 검색
    function search() {
        const searchTitle = document.getElementById('searchTitle').value;
        window.location.href=`/notice_list?searchTitle=${searchTitle}`;
    }

    // 페이지 변경
    function changePage(pageNumber) {
        const searchTitle = '<%= searchTitle %>';
        
        if(searchTitle === '전체'){
            window.location.href=`/notice_list?page=${pageNumber}`;
            return;
        }
        window.location.href = `/notice_list?page=${pageNumber}&searchTitle=${encodeURIComponent(searchTitle)}`;
    }

    // 글쓰기 버튼
    function NoticeAdd(){
      window.location.href='/notice_list/add';
      return;
    }

    // 상세보기
    function NoticeDetail(noticeId){
      window.location.href=`/notice_list/detail?noticeId=${noticeId}`;
      return;
    }
</script>
</body>

</html>
