<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/qna.css">
  <title>KU해 QnA</title>
</head>

<body>

  <%-include('top_bar.ejs')%>
  
  <header>
    <h1>QnA KU해</h1>
  </header>

  <% if ( typeof user !== 'undefined') { %>
    <div class="button-container">
      <button class="write-button" onclick="QuestionAdd()">글쓰기</button>
    </div>
  <% } %>

  <div class="search-container">
    <input id="searchTitle" class="search-input" name="searchTitle" maxlength="100" placeholder="제목을 입력해주세요.">
    <button class="search-button" onclick="search()">검색</button>
  </div>

  <% lists.forEach((item, index) => { %>
   <div class="qna-item" onclick="QuestionDetail('<%= item.id %>')">
    <% if ( item.is_answered === 0) { %>
      <h3 class="awaiting-answer"> 답변 대기중</h3>
    <% } else { %>
      <h3 class="completed-answer"> 답변완료</h3>
    <% } %>
    <h3><%= item.title %></h3>
    <% const createDate = new Date(item.create_date); %>
    <% const formattedDate = `${createDate.getFullYear()}. ${createDate.getMonth() + 1}. ${createDate.getDate()}`; %>
    <p class="date"><%= formattedDate %></p>
    <p class="author">작성자: <%= item.author %></p>
  </div>
  <% }); %>


  <div class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="#" onclick="changePage(<%= i %>)"><%= i %></a>
    <% } %>
  </div>

  <footer>
    <p>© KU-HAE</p>
  </footer>

  <script>
    // 검색
    function search() {
        const searchTitle = document.getElementById('searchTitle').value;
        window.location.href=`/qna?searchTitle=${searchTitle}`;
    }

    // 페이지 변경
    function changePage(pageNumber) {
        const searchTitle = '<%= searchTitle %>';
        
        if(searchTitle === '전체'){
            window.location.href=`/qna?page=${pageNumber}`;
            return;
        }
        window.location.href = `/qna?page=${pageNumber}&searchTitle=${encodeURIComponent(searchTitle)}`;
    }

    // 글쓰기 버튼
    function QuestionAdd(){
      window.location.href='/qna/add';
      return;
    }

    // 상세보기
    function QuestionDetail(questionId){
      window.location.href=`/qna/detail?questionId=${questionId}`;
      return;
    }
  </script>
</body>

</html>
