<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/qna_detail.css">
    <title>QnA KU해</title>
</head>

<body>

    <%-include('top_bar.ejs')%>

    <header>
        <h1>QnA 상세페이지</h1>
    </header>

    <section>
        <span style="font-size: 1.5em;">질문</span>
        <div class="qna-box">
            <h3><%= question[0].title %></h3>
            <p class="detail-info">
                <% const createDate = new Date(question[0].create_date); %>
                <% const formattedDate = `${createDate.getFullYear()}. ${createDate.getMonth() + 1}. ${createDate.getDate()}`; %>
                작성자: <span><%= question[0].author %></span> | 날짜: <span><%= formattedDate %></span>
            </p>
            <div class="content">
                <%= question[0].content %>
            </div>
            <div class="button-container">
                <button class="back-button" onclick="QnAPage()">목록으로</button>
                <!-- 내가 올린 글이거나 관리자인 경우에만 -->
                <% if( typeof user !== 'undefined' && user.user_id == question[0].author || typeof user !== 'undefined' && user.is_superuser === 1) { %>
                  <button class="delete-button" onclick="DeleteQuestion('<%= question[0].id %>')">삭제</button>
                <% } %>
            </div>
        </div>

        <span style="font-size: 1.5em;">답변</span>
        <div class="qna-box">
            <!-- 관리자는 답변 작성 및 수정 가능 -->
            <% if ( typeof user !== 'undefined' && user.is_superuser === 1 ) { %>
                <% if ( typeof answer !== 'undefined' && answer.length > 0) { %>
                    <h3>작성자: <%= answer[0].author %></h3>
                    <textarea id="content" class="content" rows="13"><%= answer[0].content %></textarea>
                <% } else { %>
                    <textarea id="content" class="content" rows="13">답변이 없습니다.</textarea>
                <% } %>
                <div class="button-container">
                    <% if ( typeof answer !== 'undefined' && answer.length > 0) { %>
                        <button class="edit-button" onclick="EditAnswer('<%= answer[0].id %>')">수정</button>
                        <button class="delete-button" onclick="DeleteAnswer('<%= answer[0].id %>', '<%= question[0].id %>')">삭제</button>
                    <% } else { %>
                        <button class="edit-button" onclick="AddAnswer('<%= question[0].id %>')">등록</button>
                    <% } %>
                </div>
            <% } else { %>
                <% if ( typeof answer !== 'undefined' && answer.length > 0) { %>
                    <h3>작성자: <%= answer[0].author %></h3>
                    <div class="content">
                        <%= answer[0].content %>
                    </div>
                <% } else { %>
                    <h3>답변이 없습니다.</h3>
                <% } %>
            <% } %>
        </div>
    </section>

    <footer>
        <p>© KU-HAE</p>
    </footer>

    <script>
       // 목록으로
       function QnAPage(){
          window.location.href='/qna';
          return;
        }

        // 질문 삭제하기
        function DeleteQuestion(questionId) {
            const xhr = new XMLHttpRequest();
            
            xhr.open('POST', '/qna/deletequestion', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        // 결과 표시
                        alert(response.message);
                        window.location.href='/qna';
                    } else {
                        console.error('Error: ' + xhr.status);
                    }
                }
            };
            
            xhr.send('questionId=' + encodeURIComponent(questionId));
        }

        // 답변 등록하기
        function AddAnswer(questionId) {
            const content = document.getElementById('content').value;
            '<% if ( typeof user !== "undefined") { %>'
              const author = '<%= user.user_id %>';
            '<% } %>'
            const xhr = new XMLHttpRequest();
            
            xhr.open('POST', '/qna/addanswer', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        // 결과 표시
                        alert(response.message);
                        window.location.reload();
                    } else {
                        console.error('Error: ' + xhr.status);
                    }
                }
            };
            
            xhr.send('questionId=' + encodeURIComponent(questionId) +
                      '&content=' + encodeURIComponent(content) +
                      '&author=' + encodeURIComponent(author));
        }

        // 답변 수정하기
        function EditAnswer(answerId) {
            const content = document.getElementById('content').value;
            '<% if ( typeof user !== "undefined") { %>'
              const author = '<%= user.user_id %>';
            '<% } %>'
            const xhr = new XMLHttpRequest();
            
            xhr.open('POST', '/qna/editanswer', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        // 결과 표시
                        alert(response.message);
                        window.location.reload();
                    } else {
                        console.error('Error: ' + xhr.status);
                    }
                }
            };
            
            xhr.send('answerId=' + encodeURIComponent(answerId) +
                      '&content=' + encodeURIComponent(content) +
                      '&author=' + encodeURIComponent(author));
        }

        // 답변 삭제하기
        function DeleteAnswer(answerId, questionId) {
            const xhr = new XMLHttpRequest();
            
            xhr.open('POST', '/qna/deleteanswer', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        // 결과 표시
                        alert(response.message);
                        window.location.reload();
                    } else {
                        console.error('Error: ' + xhr.status);
                    }
                }
            };
            
            xhr.send('answerId=' + encodeURIComponent(answerId) +
                      '&questionId=' + encodeURIComponent(questionId));
        }
    </script>

</body>

</html>
